<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="bg-dark text-center" style="background-color: #2B547E;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #2B547E;">
    © 2020 Copyright:
    <a style="background-color: #2B547E;" href="https://mdbootstrap.com/">xyz Infosystem</a>
  </div>
  <!-- Copyright -->
</footer>